.header {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;

  h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.9rem;
    margin-top: 0.2rem;
    line-height: 0.8;
    text-align: center;

    span {
      font-size: 3.2rem;
    }
  }
}

.capitalize:first-letter {
  text-transform: uppercase;
}

.scroll-thin {
  scrollbar-width: thin;
}
