.header {
  h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.9rem;
    margin-top: 0.2rem;
    line-height: 0.8;
    text-align: center;

    span {
      font-family: 'Courier New', Courier, monospace;
      font-size: 2.35rem;
      letter-spacing: 0.35rem;
    }
  }
}

.terminal {
  display: grid;
  background-image: url('/src/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 636px;
  position: relative;

  @media (width >= 80rem) {
    height: 736px;
  }

  @media (width >= 96rem) {
    height: 959px;
  }

  section {
    position: absolute;
    left: 0;
    top: 170px;
    width: 100%;
    height: 279px;

    @media (width >= 40rem) {
      top: 170px;
      left: 0;
      width: 638px;
      height: 279px;
    }

    @media (width >= 48rem) {
      width: 765px;
    }

    @media (width >= 64rem) {
      top: 169px;
      left: 16px;
      width: 990px;
      height: 280px;
    }

    @media (width >= 80rem) {
      top: 182px;
      width: 1239px;
      height: 350px;
    }

    @media (width >= 96rem) {
      top: 255px;
      width: 1488px;
      height: 422px;
      left: 21px;
    }
  }
}

.animated-dialog {
  animation: scale-out 500ms forwards, fade-out 500ms forwards;

  &[open] {
    animation: scale-in 500ms forwards, fade-in 500ms forwards;
  }
  &[open]::backdrop {
    animation: fade-in 500ms forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes scale-out {
  20% {
    transform: scale(0);
    display: none;
  }
  100% {
    transform: scale(0);
    display: none;
  }
}

.capitalize:first-letter {
  text-transform: uppercase;
}

.scroll-thin {
  scrollbar-width: thin;
}
