.github-button {
  display: grid;
  grid-template-columns: 2rem max-content;
  width: min-content;
}

.logo {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.9rem;
  margin-top: 0.2rem;
  line-height: 0.8;
  text-align: center;

  span {
    font-size: 3.2rem;
  }
}
